<app-navbar></app-navbar>
<div class="container limiter animated fadeInLeft">
    <div class="row m-5">
        <h3>Noticias de la carrera</h3>


        <div class="form-group col-12">
            <a title="Publicar Noticia" class="btn btn-warning btn-lg" (click)="response()">Publicar noticia</a>
        </div>

        <ng-template ngFor let-item [ngForOf]="commentNews" let-i="index">
            <div class="col-12 m-2 card bg-dark text-white card-header">
                <div class="form-group">
                    <h3 for="commentnew">Noticia # {{ commentNews[i].commentNewId }}</h3>
                    <textarea class="form-control" id="commentnew" rows="3" readonly style="color: darkblue;font-size: 1.5rem;">
                    {{ commentNews[i].content }}
                    </textarea>
                    <ng-template ngFor let-item [ngForOf]="users" let-u="index">
                        <span *ngIf="users[u].usersId == commentNews[i].creationUserId ">Creado por: {{ users[u].name }} - <small> - {{ commentNews[i].creationDate }}</small></span>
                    </ng-template>
                </div>

                <ng-template ngFor let-item [ngForOf]="commentNewsUsers" let-j="index">
                    <div *ngIf="commentNews[i].commentNewId == commentNewsUsers[j].commentNewId" class="form-group">
                        <label for="commentnewuser">Comentario:</label>
                        <textarea class="form-control rounded" id="commentnewuser" rows="2" readonly>
                            {{ commentNewsUsers[j].content }}
                        </textarea>
                        <ng-template ngFor let-item [ngForOf]="users" let-u="index">
                            <span *ngIf="users[u].usersId == commentNewsUsers[j].creationUser ">Comentado por: {{ users[u].name }} - <small> - {{ commentNewsUsers[j].creationDate | date }}</small></span>
                        </ng-template>

                    </div>
                </ng-template>

                <form (ngSubmit)="comment(form)" #form="ngForm">
                    <div class="input-group">
                        <input [ngModel]="commentNews[i].commentNewId" name="commentNewUserId" required readonly hidden>
                    </div>
                    <div class="input-group">
                        <div class="form-group">
                            <label for="commentNewUserContent">Comentar:</label>
                            <textarea [class.is-invalid]="form.invalid && form.touched" ngModel class="form-control rounded" name="commentNewUserContent" rows="2" cols="90" required minlength="5">
                               
                            </textarea>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-warning btn-sm" type="submit">Comentar</button>
                        </div>
                    </div>
                </form>


            </div>
        </ng-template>

    </div>
</div>