<app-navbar></app-navbar>
<div class="container limiter animated fadeInLeft">
    <div class="row m-5">
        <h3>Noticias de la carrera</h3>
        <ng-template ngFor let-item [ngForOf]="commentNews" let-i="index">
            <div class="col-12 m-2 card bg-dark text-white card-header animated fadeInDownBig">
                <div class="form-group">
                    <label for="commentnew">Noticia # {{ commentNews[i].commentNewId }}</label>
                    <textarea class="form-control" id="commentnew" rows="3" readonly>
                    {{ commentNews[i].content }}
                    </textarea>
                    <span>Creado: {{ commentNews[i].creationUser }} - <small> - {{ commentNews[i].creationDate }}</small></span>
                </div>

                <ng-template ngFor let-item [ngForOf]="commentNewsUsers" let-j="index">
                    <div *ngIf="commentNews[i].commentNewId == commentNewsUsers[j].commentNewId" class="form-group">
                        <label for="commentnewuser">Comentario:</label>
                        <textarea class="form-control rounded" id="commentnewuser" rows="1" readonly>
                            {{ commentNewsUsers[j].content }}
                        </textarea>
                        <span>Creado: {{ commentNewsUsers[j].creationUser }} - <small> - {{ commentNewsUsers[j].creationDate }}</small></span>
                    </div>
                </ng-template>


                <div class="input-group">
                    <div class="form-group">
                        <label for="commentnewuser">Comentar:</label>
                        <textarea class="form-control rounded" id="commentnewuser" rows="2" cols="90">
                           
                        </textarea>
                    </div>
                    <div class="input-group-append">
                        <button (click)="comment(commentNews[i].commentNewId)" class="btn btn-outline-warning btn-sm" type="button">Comentar</button>
                    </div>
                </div>

            </div>
        </ng-template>

    </div>
</div>