<app-navbar></app-navbar>


<h2>Course Add</h2>

<form [formGroup]="courseForm" (ngSubmit)="addCourse()" #formDir="ngForm">

    <div class="form-group row">
    
        <label class=" control-label col-md-12" for="teacher_name">Teacher name</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="teacher_name">
        </div>
        <span class="text-danger" *ngIf="courseForm.hasError('required', 'teacher_name') && formDir.submitted">
            Teacher name is required.
        </span>
    </div>
    
    <div class="form-group row">
        <label class=" control-label col-md-12" for="name">Name</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="name">
        </div>
        <span class="text-danger" *ngIf="courseForm.hasError('required', 'name') && formDir.submitted">
            Name is required.
        </span>
    </div>

    
    <div class="form-group row">
        <label class=" control-label col-md-12" for="credit">Credits</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="credit">
        </div>
        <span class="text-danger" *ngIf="courseForm.hasError('required', 'credit') && formDir.submitted">
            Credits is required.
        </span>
        <span class="text-danger" *ngIf="courseForm.hasError('pattern', 'credit') && formDir.submitted">
            At 1 digit required.
        </span>
    </div>
    
    <div class="form-group row">
        <label class=" control-label col-md-12" for="Description">description</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="description">
        </div>
        <span class="text-danger" *ngIf="courseForm.hasError('required', 'description') && formDir.submitted">
            Description is required.
        </span>
    </div>

    
    <div class="form-group row">
        <label class=" control-label col-md-12" for="schedule">Schedule</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="schedule">
        </div>
        <span class="text-danger" *ngIf="courseForm.hasError('required', 'schedule') && formDir.submitted">
            Schedule is required.
        </span>
    </div>

    
    <div class="form-group row">
        <label class=" control-label col-md-12" for="acronyn">Acronyn</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="acronyn">
        </div>
        <span class="text-danger" *ngIf="courseForm.hasError('required', 'acronyn') && formDir.submitted">
            Acronyn is required.
        </span>
    </div>

    <div class="form-group row">
        <label class=" control-label col-md-12" for="schedule_consultation">Schedule consultation</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="schedule_consultation">
        </div>
        <span class="text-danger" *ngIf="courseForm.hasError('required', 'schedule_consultation') && formDir.submitted">
            Schedule consultation is required.
        </span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>

</form>  
