<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-12 m-2 animated fadeInUpBig">
            <h3> Aceptar de estudiantes</h3>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Email</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <th>{{ user.usersId}}</th>
                        <td>{{ user.name}}</td>
                        <td>{{ user.lastname}}</td>
                        <td>{{ user.email}}</td>
                        <td>
                            <a (click)="approve(user.usersId)" class="btn btn-primary" title="Aceptar">Aceptar</a>
                            <a (click)="disapprove(user.usersId)" class="btn btn-danger" title="Rechazar">Rechazar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>